
/* See theme editor at https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor */

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #00273d;
	--sl-color-accent: #0071a7;
	--sl-color-accent-high: #92d1fe;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e7eff2;
	--sl-color-gray-2: #bac4c8;
	--sl-color-gray-3: #7b8f96;
	--sl-color-gray-4: #495c62;
	--sl-color-gray-5: #2a3b41;
	--sl-color-gray-6: #182a2f;
	--sl-color-black: #121a1c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #b0deff;
	--sl-color-accent: #448cce;
	--sl-color-accent-high: #003653;
	--sl-color-white: #121a1c;
	--sl-color-gray-1: #182a2f;
	--sl-color-gray-2: #2a3b41;
	--sl-color-gray-3: #495c62;
	--sl-color-gray-4: #7b8f96;
	--sl-color-gray-5: #bac4c8;
	--sl-color-gray-6: #e7eff2;
	--sl-color-gray-7: #f3f7f9;
	--sl-color-black: #ffffff;
}

/* Override hero for when there is no image */
.hero {
  grid-template-columns: 1fr;
}

.hero h1 {
  text-align: center;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero .tagline {
  text-align: center;
  max-width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.hero .actions {
  justify-content: center;
  text-align: center;
  max-width: 100%;
}



div.showcase-screenshot-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.showcase-screenshot-container img {
  flex: 1;
    object-fit: cover;
    max-width: 24%;
    height: auto;

    /* width: 100px; */
}



div.localization-screenshot-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.localization-screenshot-container img {
  flex: 1;
    object-fit: cover;
    max-width: 20%;
    height: auto;

    /* width: 100px; */
}

.diagram-vector img {
	width: 90%;
	padding: 15px;
	background: white;
	align-content: center;  
	margin: auto;
	text-align: center;
	border-radius: 10px;
	margin: 0 auto;
}


