---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';

import { getCollection } from "astro:content";
import AppCard from "../components/AppCard.astro";

const apps = await getCollection("gallery");

const sidebar = [
  { label: 'Back to Docs', link: '/guides/getting-started/' },
  //{
  //label: 'App Categories',
    //items: categories.map(cat => ({
    //label: cat,
    //link: `/apps/category/${cat.toLowerCase()}`,
    //})),
    //},
  { label: 'Submit an App', link: '/submit' },
];
---

<StarlightPage
    frontmatter={{ 
        title: 'My custom page',
        description: 'A page describing the apps',
        template: 'doc',
        tableOfContents: false,
    }}
    sidebar={sidebar}
    >
  <p>This is a custom page with a custom component:</p>
  <!-- <CustomComponent /> -->

  <AnchorHeading level="2" id="learn-more">Learn more</AnchorHeading>

    <section class="apps-grid">
      {apps.map(({ data }) => (
        <AppCard app={data} />
      ))}
    </section>

  <p>
    <a href="https://starlight.astro.build/">Read more in the Starlight docs</a>
  </p>
</StarlightPage>

<style>
.apps-grid {
  display: grid;
  gap: 2rem;
}
</style>
